@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --bg-color-body              : #fff;
    --font-color-black           : #000;
    --font-color-grey            : #ddd;
    --font-color-grey-description: rgb(212, 209, 209);
    --form-control-color         : rebeccapurple;
    --modal-bg-color             : #ffffff73;
    --selector-box-shadow        : rgba(0, 0, 0, .5);
    --selector-shadow            : rgba(0, 0, 0, .2);
    --smoke-white                : #f1f3f5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}