@import "_config";

// se cargan configuraciones globales
body {
    background-color: var(--bg-color-body);
    font-family     : 'Roboto', sans-serif;
    box-sizing      : border-box;
}

//Diseño a contenedor principal
.container {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-content  : center;
    align-items    : center;
    height         : auto;
    margin-top     : 50px;
    padding        : 20px;
}

// Contenedor de detalles de producto
.product_description {
    color     : var(--font-color-black);
    margin-top: 3rem;

    &--actions_btn {
        cursor        : pointer;
        display       : flex;
        flex-direction: column;
        font-size     : 18px;
        font-weight   : bold;

        a {
            align-items    : center;
            display        : flex;
            height         : 40px;
            justify-content: center;
            margin-bottom  : 10px;
            text-decoration: none;
        }

        a:hover {
            border          : 1px solid;
            background-color: var(--bg-color-body);
            color           : var(--font-color-black);
            transition      : 200ms ease-in-out;
        }

        .btn-cart {
            background-color: var(--font-color-black);
            color           : var(--bg-color-body);


        }

        .btn-favourite {
            background-color: var(--font-color-grey);
            color           : var(--font-color-black);
        }

    }

    &--description_text {
        color      : var(--font-color-grey-description);
        font-size  : 18px;
        font-weight: 600;
        margin-top : 20px;
    }

    &--discount {
        color          : var(--font-color-grey-description);
        font-size      : 22px;
        font-weight    : 600;
        text-decoration: line-through;
        margin-left    : 10px;
    }

    &--price {
        font-size  : 26px;
        font-weight: bold;
    }

    &--subtitle {
        color      : var(--font-color-grey-description);
        font-size  : 18px;
        font-weight: 600;
    }

    &--title {
        font-size    : 30px;
        font-weight  : 600;
        margin-bottom: 10px;

    }

    &--option1 {
        margin-top   : 40px;
        display      : flex;
        border-top   : 1px solid var(--font-color-grey);
        border-bottom: 1px solid var(--font-color-grey);
        padding      : 16px 0;
        align-items  : center;
        align-content: center;
    }

    &--option2 {
        display      : flex;
        border-bottom: 1px solid var(--font-color-grey);
        padding      : 16px 0;
        align-items  : center;


    }

    .variant-option-wrap {
        display  : flex;
        flex-wrap: wrap;
    }

    .variant-option1 {
        margin-left: 25px;
        display    : inherit;

        input[type="radio"] {
            -webkit-appearance: none;
            appearance        : none;
            background-color  : var(--bg-color-body);
            border            : 0.15em currentColor;
            border-radius     : 50%;
            color             : currentColor;
            cursor            : pointer;
            font              : inherit;
            height            : 2em;
            margin            : 0 7px;
            transform         : translateY(-0.075em);
            width             : 2em;

            display         : grid;
            place-content   : center;
            background-color: var(--font-color-black);

        }

        input[type="radio"]::before {
            content      : "";
            width        : 1.5em;
            height       : 1.5em;
            border-radius: 50%;
            transform    : scale(0);
            transition   : 120ms transform ease-in-out;
        }

        input[type="radio"]:checked {
            transform     : scale(1);
            outline       : max(3px, 0.15em) solid currentColor;
            outline-offset: max(3px, 0.15em);
        }

    }

    .variant-option2 {
        margin-left: 25px;
        display    : flex;
        margin     : 10px;
        flex-wrap  : wrap;
    }

    &--quantity-price {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
        height         : 126px;
        margin-bottom  : 10px;

        .btn-quantity {
            border   : 1px solid;
            padding  : 3% 3%;
            font-size: 18px;

            button {
                border    : none;
                background: none;
                cursor    : pointer;
                font-size : 25px;

            }

            span {
                padding: 0 30px;
            }
        }

        .price-details {
            font-size: 18px;

            strong {
                margin-left: 5px;
            }

        }
    }
}

// diseño custom para fiv de galeria de imagenes
.img_gallery {
    &--splide_slide {
        margin-top: 10px;
    }
}

// Clases autogeneradas por libreria SplideJs para galeria de imagenes, se realizaron modificaciones
.splide__slide {
    display        : flex;
    align-items    : center;
    justify-content: center;

    img {
        width: 100%;
    }
}

.slider-secondary {
    .splide__track {
        width : 45%;
        margin: 0 auto;
    }
}

.splide__pagination__page.is-active {
    background-color: var(--font-color-black);
}

.splide__pagination {
    top: 102%;
}

.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border: none;
}

.splide__pagination {
    display: none;
}

// Input type radio, uso en varian size

.selector {
    position        : relative;
    width           : 60%;
    background-color: var(--smoke-white);
    height          : 80px;
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    border-radius   : 9999px;
    box-shadow      : 0 0 16px var(--selector-shadow);
}

.selector-item {
    position       : relative;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.selector-item_radio {
    appearance: none;
    display   : none;
}

.selector-item_label {
    display            : flex;
    justify-content    : center;
    align-items        : center;
    width              : 50px;
    height             : 50px;
    margin             : 5px;
    position           : relative;
    text-align         : center;
    line-height        : 400%;
    font-weight        : 900;
    transition-duration: .5s;
    transition-property: transform, color, box-shadow;
    transform          : none;
    border             : 3px solid var(--font-color-grey);
    color              : var(--font-color-grey);

}

.selector-item_radio:checked+.selector-item_label {
    border-color: var(--font-color-black);
    color       : var(--font-color-black);
    box-shadow  : 0 0 4px var(--selector-box-shadow), 0 2px 4px var(--selector-box-shadow);

}

// Modal Permite generar contenido modal
.modal {
    position        : fixed;
    z-index         : 999;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    display         : none;
    justify-content : center;
    align-items     : center;
    background-color: var(--modal-bg-color);

    pointer-events: none;
    transition    : all 1s;
}

.modal-content {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 80%;
    background     : var(--bg-color-body);
    padding        : 3rem;
}

.portfolio_modal {

    display        : flex;
    width          : 100%;
    justify-content: space-evenly;
    flex-direction : row;
    align-items    : center;
    flex-wrap      : wrap;

    img {
        width: 100%;
    }


}

.portfolio_info {
    max-width     : 350px;
    display       : flex;
    align-items   : center;
    flex-direction: column;

    &--btn_action {
        cursor     : pointer;
        font-size  : 18px;
        font-weight: bold;
        display    : flex;

        a {
            align-items    : center;
            display        : flex;
            height         : 40px;
            width          : 102%;
            justify-content: center;
            margin-bottom  : 10px;
            text-decoration: none;
            margin         : 0 2px;
        }

        a:hover {
            border          : 1px solid;
            background-color: var(--bg-color-body);
            color           : var(--font-color-black);
            transition      : 200ms ease-in-out;
        }

        .btn-buy {
            background-color: var(--font-color-black);
            color           : var(--bg-color-body);
        }

        .btn-pay {
            background-color: var(--font-color-grey);
            color           : var(--font-color-black);
        }
    }
}

.modal-close {
    position: absolute;
    top     : 1rem;
    right   : 1rem;
}

.modal-close svg {
    width : 3rem;
    height: 3rem;
    fill  : var(--first-color);
}

.modal[id|="trabajo"]:target {
    display       : flex;
    pointer-events: auto;
}

body.modal {
    overflow-y: hidden;
}

// Media Query, Contenido responsive
@media screen and (max-width: 420px) {
    .product_description {
        &--quantity-price {
            flex-direction : column;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        display              : grid;
        justify-items        : center;
        grid-template-columns: 1fr 1fr;
        height               : inherit;
        align-items          : start;

        gap    : 35px;
        padding: 0 4rem;
    }

    .modal-content {

        width: 60%;
    }

    .product_description {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .img_gallery {
        &--splide_slide {
            display: none;
        }
    }

    .splide__pagination {
        display: flex;
    }
}